<div class="psa-inner-text">
  <div class="psa-inner-container">

    <p>
      <img src="https://cdn.shopify.com/s/files/1/0068/5454/1410/files/felicitails-free-my-paws-psychiatric-service-animial-dog-airline-guide-to-flying-felicitails-is-founded-by-lindsay-giguiere-katziela-dog-travel-carrier.png?v=1690810337">
    </p>
    <h2>Are Pet Carriers Part of Air Canada's Baggage Allowance?</h2>
    <p>Pet carriers count as part of Air Canada's carry-on baggage allowance. </p>
    <p>You cannot take pets in the cabin when traveling in Premium Economy class, are seated in a bulkhead or exit row, are an unaccompanied minor, or are flying in the Business class cabin of a Boeing 737 Max 8 airplane.</p>
    <h2>Make Flying with Your Psychiatric Service Animal Easy!</h2>
    <ul class="us-list">
      <li>Don't assume your PSA dog can handle airline travel if they've never flown before. Check with your dog's veterinarian and trainer to discuss travel suitability and options. If possible, visit the airport in advance.</li>
      <li>US DOT and airline service animal rules can change anytime, so check for any updates before booking your ticket.</li>
      <li>Confirm any quarantines, restrictions, or embargoes before your flight.</li>
      <li>Have ready access to your documents to make it easy for airline staff to check them. You'll save time and hassles during the check-in process.</li>
      <li> Have written descriptions of the tasks performed by your service dog ready for checking.</li>
      <li>Exercise your dog before heading to the airport.</li>
      <li>Inform airport security that your dog is a service dog.</li>
      <li>Cooperate with airport staff and keep your dog under control at all times.</li>
      <li>Avoid overfeeding and overwatering your dog before your flight - offer them food and water as soon as possible after you land.</li>
    </ul>
    <h2>The ACAA and Your Right to Fly with a PSA</h2>
    <p><strong>What Is the Effect of the ACAA (Air Carrier Access Act)? </strong></p>
    <p>The ACAA prohibits discrimination based on passengers' disabilities and mandates airlines to offer accessibility features and facilities. These accommodations include ramps and mechanical lifts, adjustable armrests, easy-access restrooms, and facilities for mobility aids and service animals. </p>
    <p class="center-img">
      <img src="https://cdn.shopify.com/s/files/1/0068/5454/1410/files/felicitails-free-my-paws-psychiatric-service-animial-dog-airline-guide-to-flying-felicitails-is-founded-by-lindsay-giguiere-acaa-psa-travel-rights.png?v=1690810337">
    </p>
    <p><strong>Emotional Support Animals and the ACAA</strong></p>
    <p>The ACAA originally defined service animals as those trained to assist people with disabilities. </p>
    <p>However, a 2003 DOT policy update permitted ESAs inside airplane cabins. This change allowed eligible passengers to be accompanied by an emotional support dog, cat, or other animal in the cabin.</p>
    <p>ESAs do not have to be trained to perform specific tasks. Their presence alone supports people dealing with anxiety, PTSD, OCD, depression, and other mental health conditions, but the animal does not provide a physical service to treat the ailment. </p>
    <p>The 2003 DOT policy change didn't limit the species that could serve as ESAs. However, air carriers faced unique challenges as passengers brought animals they claimed were ESAs without legitimate documentation. </p>
    <p><strong>This is one of the reasons that most airlines, including Air Canada, no longer allow Emotional Support Animals to fly with their owner in the cabin.</strong></p>
    <p>An ESA letter will not exempt you from the airline's regulations and fees for pet travel. However, complying with the ADA, they permit Psychiatric Service Animals / Dogs (PSAs), which carry out functions similar to ESAs for people with mental and emotional support needs. </p>
    <p>Check out the ACAA guidelines <a href="#">here.</a></p>
    <p>Want to read the full explanation of the DOT's recent ruling on service animals? Click here</p>
    <h2>Service Animals / Dogs and the ACAA</h2>
    <ul class="us-list">
      <li>Your service animal must be allowed to accompany you in the space under the seat in front of you.</li>
      <li>Your service animal must not block a space that must be clear for safety reasons (e.g. an aisle or access to an emergency exit).</li>
      <li>Airlines do not have to upgrade you to a different class to accommodate your service animal.</li>
      <li>Airlines do not have the right to refuse your service animal onboard because it makes other passengers or flight crew uncomfortable.</li>
      <li>Your service animal must behave appropriately. An animal that displays disruptive behavior (ex. barking, snarling, running around, and/or jumping onto others etc.) will not be accepted as a service animal.</li>
    </ul>
  </div>
</div>




{% schema %}
  {
    "name": "Section name",
    "settings": [],
    "presets": [
      {
        "name": "Airline Detail"
      }
    ]
  }
{% endschema %}


{% javascript %}
{% endjavascript %}