<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css">


<div class="main-category-blog container-wrapper blog-main-wrapper poppins-font">
  <div class="container">
    {% if section.settings.show_breadcrumbs == true %}
      <div class="category-breadcrumbs">
        {% render 'breadcrumbs-blogs' %}
      </div>
    {% endif %}

    <div class="cate-ad-banner">
      {% render "banner-ad", image: section.settings.image, url: section.settings.url %}
    </div>
    <div class="mb-wrapper">
      <div class="mb-left">
        {% render 'category-gallery' %}
        {% paginate blog.articles by 10 %}
          <div
            class="blogs-on-page"
            data-blog-all-page="{{ paginate.pages }}"
            data-blog-next-url="{{ paginate.next.url }}">
            {% for article in blog.articles %}
              {% render 'article', article: article, blog: blog %}
            {% endfor %}
          </div>
          {% if paginate.pages > 1 %}
            {% render 'load-more' %}
          {% endif %}
        {% endpaginate %}
      </div>
      <div class="mb-right">
        {% render 'lindsay-card', card_img: section.settings.card_img, card_headline: section.settings.card_headline, card_intro: section.settings.card_intro, card_signature: section.settings.card_signature, card_follow: section.settings.card_follow, show_social_icons: section.settings.show_social_icons %}
        {% render 'search-articles', search_btn: section.settings.search_btn, search_heading: section.settings.search_heading %}
        {% render 'categories-blogs', category_heading: section.settings.category_heading, category_link: section.settings.category_link %}
        {% render 'tower-ad', tower_img_mob: section.settings.tower_img_mob, show_tower_ad: section.settings.show_tower_ad, tower_img: section.settings.tower_img, tower_url: section.settings.tower_url %}
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>

<script>

  let blogs_on_page = $(".blogs-on-page")
  let blog_next_url = blogs_on_page.data("blog-next-url")
  let blog_all_page = blogs_on_page.data("blog-all-page")
  let load_more_text = $(".load-more__text")
  let load_more_btn = $(".load-more")
  let load_more_data = load_more_btn.data("blog-next-button")

  function loadMoreBlogs() {
    $.ajax({url: blog_next_url, type: "GET", dataType: 'html'}).done(function(next_page) {

      let next_blogs = $(next_page).find(".blogs-on-page");
      let next_url = next_blogs.data("blog-next-url")

      blog_next_url = next_url;
      blogs_on_page.append(next_blogs.html());

      let btn_data_incre = ++ load_more_data;

      if (btn_data_incre >= blog_all_page) {
        load_more_text[0].innerHTML = "No More Articles";
        load_more_btn.prop("disabled", true)
      }
    })
  }

  $('[data-fancybox="gallery"]').fancybox({
    buttons: ["close"],
    loop: true,
    protect: true,
    openEffect: 'elastic',
    closeEffect: 'elastic',
    nextEffect: 'fade',
    prevEffect: 'fade',
    beforeLoad: function(instance, slide) {
      slide.opts.width = 1024;
      slide.opts.height = 600;
    },
    beforeShow: function(instance, slide) {

      // slide.width = 1024;
      // slide.height = 600;
      $(".fancybox-caption").appendTo($(slide.$slide));
      instance.$refs.container.addClass("custom-wrapper");

      $('.fancybox-button--close').on('click', function() {
        instance.close();
      });
    },
    btnTpl: {
      close: '<button class="fancybox-button fancybox-button--close" title="Close">Close Gallery</button>',
      arrowLeft: '<button data-fancybox-prev class="fancybox-button fancybox-button--arrow_left" title="Previous"><img src="https://cdn.shopify.com/s/files/1/0068/5454/1410/files/felicitails-blog-mood-board-created-by-lindsay-giguiere-back-icon.png?v=1689083201" /></button>',
      arrowRight: '<button data-fancybox-next class="fancybox-button fancybox-button--arrow_right" title="Next"><img src="https://cdn.shopify.com/s/files/1/0068/5454/1410/files/felicitails-blog-mood-board-created-by-lindsay-giguiere-forward-icon.png?v=1689083831" /></button>'
    }
  });
</script>

{% schema %}
  {
    "name": "Main Category Blog",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_breadcrumbs",
        "label": "Show BreadCrumbs",
        "default": true
      },
      {
        "type": "header",
        "content": "Ad Banner"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Ad Banner"
      },
      {
        "type": "url",
        "id": "url",
        "label": "URL"
      }, {
        "type": "header",
        "content": "Lindsay Card"
      }, {
        "type": "image_picker",
        "id": "card_img",
        "label": "Card Profile"
      }, {
        "type": "text",
        "id": "card_headline",
        "label": "Card Headline",
        "default": "Hello, I’m Lindsay!"
      }, {
        "type": "textarea",
        "id": "card_intro",
        "label": "Card Intro",
        "default": "A warm welcome from Lindsay & Huck. Hope you enjoy the read and find just what you are looking for when it comes to living your best life with your loved pets."
      }, {
        "type": "image_picker",
        "id": "card_signature",
        "label": "Card Signature"
      }, {
        "type": "checkbox",
        "id": "show_social_icons",
        "label": "Show Social Icons",
        "default": true
      }, {
        "type": "text",
        "id": "card_follow",
        "label": "Card Follow me",
        "default": "Follow me:"
      }, {
        "type": "header",
        "content": "Search Article"
      }, {
        "type": "text",
        "id": "search_heading",
        "label": "Search articles",
        "default": "Search articles"
      }, {
        "type": "text",
        "id": "search_btn",
        "label": "Button Text",
        "default": "SEARCH"
      }, {
        "type": "header",
        "content": "Categories"
      }, {
        "type": "text",
        "id": "category_heading",
        "label": "Categories Heading",
        "default": "Categories"
      }, {
        "type": "link_list",
        "id": "category_link",
        "label": "Blogs Menu"
      }, {
        "type": "header",
        "content": "Tower Ad"
      }, {
        "type": "image_picker",
        "id": "tower_img_mob",
        "label": "Tower Image Mobile"
      }, {
        "type": "checkbox",
        "id": "show_tower_ad",
        "label": "Show Tower Ad",
        "default": true
      }, {
        "type": "image_picker",
        "id": "tower_img",
        "label": "Tower Image Desktop"
      }, {
        "type": "url",
        "id": "tower_url",
        "label": "Tower Url"
      }
    ],
    "presets": [
      {
        "name": "Main Category Blog"
      }
    ]
  }
{% endschema %}